<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body ng-app="DemoApp">

<div class="wrapper" ng-controller="DemoCtrl">
    {{data | json}}
    <input type="text" ng-model="tag"/>
    <p ng-repeat="tag in data.tags">{{tag}}</p>
    <button ng-click="data.$add(tag)">Add</button>
</div>


<script src="bower_components/angular/angular.js"></script>
<script src="https://cdn.firebase.com/v0/firebase.js"></script>
<script src="bower_components/angularfire/angularfire.js"></script>
<script src="restangularfire.js"></script>
<script>
    angular.module('DemoApp', ['kennethlynne.restangularfire'])
            .config(function (restangularFireProvider) {
                //ndc.azurewebsites.net
                restangularFireProvider.setAPIBase('http://localhost:58649/api');
            })
            .controller('DemoCtrl', function ($scope, firebaseRef, restangularFire, $http) {

                var dataRef = firebaseRef("https://ndc.firebaseio.com/videos/0");

                var successCb = function (model) {
                    console.log('Great success');
                    $scope.data = model;
                };

                var errorCb = function () {
                    alert('Meh');
                };

                restangularFire.get(dataRef, {}, true).then(successCb, errorCb);

            })


</script>
</body>
</html>