<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body ng-app="DemoApp">

<div class="wrapper" ng-controller="DemoCtrl">
    <input type="text" ng-model="data.test"/>
    <button ng-click="data.$save()">Lagre</button>
</div>


<script src="bower_components/angular/angular.js"></script>
<script src="https://cdn.firebase.com/v0/firebase.js"></script>
<script src="bower_components/angularfire/angularfire.js"></script>
<script src="restangularfire.js"></script>
<script>
    angular.module('DemoApp', ['kennethlynne.restangularfire'])
            .controller('DemoCtrl', function ($scope, firebaseRef, restangularFire) {

                var dataRef = firebaseRef("https://firerest.firebaseio.com");

                restangularFire.get(dataRef).then(function (model) {
                    $scope.data = model;
                })

            })


</script>
</body>
</html>